body {
  background-color: #fdf8f2;
}


@import url('https://fonts.googleapis.com/css?family=Roboto');
#logo {
  color:#423f3a;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;Roboto;
}

#slogan {
  margin-top: 60px;
  text-align: center;
  font-family: sans-serif;Roboto;
  margin-bottom: 50px;
}

#image1 {
  margin-right: 70px;
  margin-top: 30px;
  border: solid 4px black;
}

#clik1 {
  position:relative;
  text-align: center;
  margin-right: 50px;
  margin-top: 10px;
  color: black;
}

#image2 {
  margin-top: 30px;
  margin-left: 20px;
  border: solid 4px black;
}

#clik2 {
  position:relative;
  text-align: center;
  margin-left: 30px;
  margin-top: 10px;

}

#image3 {
  display: flex;
  justify-content: center;
}

#texte {
  font-family: sans-serif;Roboto;
  margin-right: 35px;
  margin-top:-30px;
}

a{
  text-decoration: none;
  color: black;
  font-family: sans-serif;Roboto;
}


footer{

  background:#686868;
  position:absolute;
  bottom:0;
  width:100%;
  padding-top:50px;
  height:50px;
  text-align: right;
  margin-bottom:-5px;
  font-family: sans-serif;Roboto;
}
